.App {
  text-align: left;
}

.App-header {
  background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  padding: 20px;
  color: #222;
}

.App-intro {
  font-size: large;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
